.case-delete-icon {
    position: absolute;
    top: 3px;
    right: 7px;
}
.case-block-row {
    width: 100%;
    float: left;
    position: relative;
}
.case-block-row.col-50 {
    width: 50%;
}
.case-row {
    margin-top: 15px;
}
.case-block-bottom-instruction {
    padding-top: 15px;
    font-style: italic;
}
.crm-container .crm-form-block.crm-case-selection-block {
    padding: 15px;
}
.crm-form-top-help-text-block {
    display: block;
    padding-bottom: 20px;
    font-size: 13px;
    font-style: italic;
}