.case-delete-icon {
    position: absolute;
    top: 5px;
    right: -15px;
}
.case-block-row {
    width: 100%;
}
.case-block-row td {
    position: relative;
}
.case-row {
    margin-top: 15px;
}
.case-block-bottom-instruction {
    padding-top: 15px;
    font-style: italic;
}
.crm-container .crm-form-block.crm-case-selection-block {
    padding: 15px;
    margin-bottom: 20px;
}
.crm-form-top-help-text-block {
    display: block;
    padding-bottom: 20px;
    font-size: 13px;
    font-style: italic;
}